<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <style>
        .home_page_body {
            padding: 15px;
            margin: 15px;
        }
    </style>
    <title>Payments</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/main.css">
</head>

<body >

<!--<div th:replace="/common/navbar :: navbar"/>-->

<div th:fragment="navbar">
    <nav style="background-color: #5F6B91;color:white" class="navbar navbar-expand-lg navbar-dark ">

        <a class="navbar-brand" href="/home">Home</a>

        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li style="color: white" class="nav-item">
                    <a class="nav-link" href="/workouts/view">Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workout/new">Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workout/find">Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/workouts/week">Test</a>
                </li>

                <!--<form class="form-inline">-->
                <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <!--<button style="float: right" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
                <!--</form>-->
            </ul>
        </div>
        <div>
            <ul class="navbar-nav" sec:authorize="isAuthenticated()">
                <li  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       style="color: white"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/profile}" href="#">Profile page</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#" th:href="@{/logout}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="home_page_body">
    <hr>
    <h3>Persons</h3>
    <hr>
    <br/>
    <!--    <h5 th:text="'Hello ' + ${userName} + ' !'"></h5>-->
    <br/>
    <table class="table">
        <thead>
        <th>Id</th>
        <th>Date</th>
        <th>Summ</th>
        </thead>
        <tbody>
        <th:block th:each="payment : ${payments}">
            <tr>
                <td th:text="${payment.id}"></td>
                <td th:text="${payment.paymentDate}"></td>
                <td th:text="${payment.summ}"></td>
            </tr>
        </th:block>

        </tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>